
.navbar
{
    background-color: transparent;
    transition: 0.5s ease;
    
}

.bright
{
    color: #fff;
    transition: 1s ease;
}
.dark
{
    color: black;
    transition: 0.8s ease;
}

.navbar.colorChange
{
    background-color: #fff;
}

.hidden
{
    transform: scale(0);
}
.show
{
    transform: scale(1);
}

.ghost-btn:hover{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0288d1;
    color: white;
    transition: 0.8s ease;
}
.page-button{
    font-size: 1.4rem;
    color: #eeeeee;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    padding: .75rem 1.25rem;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.8s ease;
}